$subhero-height: 50vh;
$section-separation: 50px;
@import "global.scss";
.hero{
    height: $subhero-height;
    .video-background{
        min-height: 600px;
    }
    .hero-action{
        width: 100%;

        h1{
           font-size: 1.4em !important;
            text-align: center;
        }
    }
}

.contactUs{
    height: auto;

    .map{
        height: 550px;
        .load-map{
            z-index: 1;;
        }
        iframe{
            z-index: 2;
                
        }
    }
    .title-section{
        @include flex(center);
        @include line{
            width: 40%;
            bottom: 25px;
        }
    }
    .contact-form{  
        form{
            input, select, textarea{
                @include font("Kanit", $text-small);    
                @include bg-light;
            }
            .btn-primary{
                height: 60px;
            }
        }
    }
}
.about-us{
    padding:$section-separation 10%;
    height: auto; 

    @include phones{
        padding: $section-separation 5%;

      
    }
    .title-section{
        @include flex(center);
        @include line{
            width: 40%;
            top: 90px;
            right: 0%;
            @include tablets{
                width: 200px;
                left: auto !important;
            }
        }
  
    }
}
.menu-food-sub{
    .title-section{
        @include flex(center, nowrap, row, flex-end);
        @include line{
            width: 200px;
        }
    }
    @include phones{
        padding: 0 10%;
    }
    @include phonexs{
        padding: 0 5%;
    }
    .card{
        cursor: pointer !important;
        .card-text{
            font-size: 1em;
        }
        .card-title{
            font-size: 1.2em;
        }
        @include phones{
           
            .card-img-top{
                height: 250px !important;
                object-fit: cover !important;
            }
        }
        
    
    }
}
.overlay-med-left{
    position: relative;
    &::after{
        height: 100%;
        width: 25%;
        background-color: $primary;
        opacity: 0.1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        max-width: 200px;
        min-width: 60px;
        z-index: -2;
    }
    &::before{
        height: 100%;
        width: 14%;
        background-color: $primary;
        opacity: 0.1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        max-width: 130px;
        min-width: 50px;
        z-index: -2;
    }
    
}
.overlay-med-right{
    &::after{
        height: 100%;
        width: 30%;
        background-color: $primary;
        opacity: 0.3;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        min-width: 150px;
        z-index: -2;
    }
}
